<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ashwanikumar.attendanceregister">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ak"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_ak_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealmAttendance">
        <activity
            android:name="com.ashwanikumar.attendanceregister.Reports_Detail_Activity"
            android:exported="false" />
        <activity
            android:name="com.ashwanikumar.attendanceregister.Reports_Activity"
            android:exported="false" />
        <activity
            android:name="com.ashwanikumar.attendanceregister.ClassDetail_Activity"
            android:exported="false" />
        <activity
            android:name="com.ashwanikumar.attendanceregister.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>